.dataImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card{
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 1200ms ease-out, visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}

.card.visible{
    opacity: 1;
    transform: none;
    visibility: visible;
}

.divSpacer{
    margin-top: 300px;
    margin-bottom: 300px;
    visibility: hidden;
}