.link.highlightedLink{
	color: rgb(255, 255, 255) !important;
	border-color: rgb(112, 112, 112) !important;
    text-decoration: underline !important;
}

.link{
	text-transform: capitalize;
	color: rgb(126, 139, 180) !important;
}

.navDivider{
	display: inline;
}